.promemoria {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 3rem;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.promemoria .MuiSvgIcon-root {
  width: 7rem;
  height: auto;
  margin-bottom: 3rem;
  color: var(--dark-grey-keep);
}

@media screen and (max-width: 830px) {
  .promemoria {
    width: 100%;
    margin: 0 5% 0;
    text-align: center;
  }
}
